<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11">
                                <h1 class="panel-title">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" (click)="newIngredient()" >New</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>View</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tr *ngFor="let ingredient of recipe?.ingredients">
                                    <td>{{ ingredient.id }}</td>
                                    <td>{{ ingredient.description }}</td>
                                    <td><a routerLink="/recipe/{{ recipe.id }}/ingredient/{{ingredient.id}}">View</a></td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
                                    <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
